<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------- Material CDN  ------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!------------------ css link ----------->
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Login here</title>
</head>
<body>
    <div class="titles">
        <h2>Login to access the Battery Renting system</h2>
    </div>
    <main class="formspace">
     <div class="signup">
        <div class="titles">
            <h2>Login here</h2>
        </div>

        <form action="" class="form" id="form">
            <div class="form-control">
                <label>Username</label>
                <input type="text" name="" id="username" placeholder="Enter Your userame" autocomplete="on">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>


            <div class="form-control">
                <label>Email</label>
                <input type="text" name="" id="email" placeholder="Enter Your Email" autocomplete="on">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Password</label>
                <input type="password" name="" id="password" placeholder="Enter Your Password" autocomplete="off">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>

            <input type="submit" value="Submit" class="btn">
            <br>
            <h3>Not registered yet? <a href="signup.html">Signup here</a></h3>
        </form>
    </div>
 </main>  
    <script src="/public/js/script.js"></script>   
</body>
</html>