<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------- Material CDN  ------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!------------------ css link ----------->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg"> 
    <title>Battery Renting Section</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo.jpg" alt="">
                    <h2>DOCK<span class="danger">VILLE</span> </h2>
                </div>
                
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar" >
                <a href="/views/index.html" class="active"><span class="material-icons-sharp">grid_view</span>
                    <h3>Home</h3>
                </a>
            
                <a href="/views/parking-login.html" ><span class="material-icons-sharp">directions_car</span>
                    <h3>parking</h3>
                </a>
                <a href="#" ><span class="material-icons-sharp">battery_charging_full</span>
                    <h3>Battery Rent Section</h3>
                </a>
    
                <a href="parking.html" ><span class="material-icons-sharp">build</span>
                    <h3>Car Tire Clinic</h3>
                </a>
            
                <a href="#"><span class="material-icons-sharp">receipt_long</span>
                    <h3>Orders</h3>
                </a>
            
                <a href="#"><span class="material-icons-sharp">mail_outline</span>
                    <h3>Messages</h3> <span class=" message-count">26</span>
                </a>
            
            
                <a href="#"><span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
            
                <a href="#"><span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
    
        <!----------------------- MAIN SECTION ----------- -->
        <main>
            <h1>Battery/Boda boda Section</h1>
            <div class="insights">
    
            <!------------------ SALES  ------------>
    
                <div class="sales">
                    <span class="material-icons-sharp">motorcycle</span>
                    <div class="middle">
                        <div class="left">
                            <h1>Boda bodas<h1>
                            <h3>Available</h3>
                        </div>
                        
                        <div class="number">
                            <h2>20</h2>
                        </div>
                    </div>
                    <small class="text-muted">Today</small>
                </div>
    
                <!------------------ EXPENSES  ------------>
    
                <div class="expenses">
                    <span class="material-icons-sharp">battery_charging_full</span>
                    <div class="middle">
                        <div class="left">
                            <h1>Batteries</h1>
                            <h3>Available</h3>
                        </div>
                        <div class="number">
                            <h2>35</h2>
                        </div>
                    </div>
                    <small class="text-muted">Today</small>
                </div>
    
                <!------------------ INCOME  ------------>
    
                <div class="income">
                    <span class="material-icons-sharp">calendar_today</span>
                    <div class="middle">
                        <div class="left">
                            <h1>Booked</h1>
                            <h3>Unavailable</h3>
                        </div>
                        <div class="number">
                            <h2>08</h2>
                        </div>
                    </div>
                    <small class="text-muted">Today</small>
                </div>
                <!-------------- END OF INSIGHTS  --------------->
            </div>
            <div class="client-info">
                <div class="heading">
                    <h2> Enter Customer's inform</h2>
                </div>
        
                <form action="" class="form" id="form">
                    <div class="form-control">
                         <label>Gender:</label><br> 
                        <select id="gender" name="Gender">
                            <label>Gender</label>
                            <option value="uganda">Male</option>
                            <option value="kenya">Female</option>
                          </select> 
                    </div>

                    <div class="form-control">
                        <label>Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter Your Name" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
        
                    <div class="form-control">
                        <label>NIN Number</label>
                        <input type="text" name="idnumber" id="ninname" placeholder="Enter NIN Number" autocomplete="off" >
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
        
                    <div class="form-control">
                        <label>Receipt Number</label>
                        <input type="text" name="receiptnumber" id="receipt" placeholder="Enter Receipt Number" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>

                    <div class="form-control">
                        <label>Telphone</label>
                        <input type="text" name="" id="telphone" placeholder="Enter phone number" autocomplete="on">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Select Date:</label>
                        <input type="date" id="date" name="date" required><br>  
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label for="time">Select Time:</label>
                        <input type="time" id="time" name="time" required><br>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
            
            </main>
    
         <!-------------- RIGHT ------- -->
  <div class="right">
    <div class="top">
          <button id="menu-btn">
           <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
              <span class="material-icons-sharp active">light_mode</span>
              <span class="material-icons-sharp ">dark_mode</span>
          </div>
          <div class="profile">
              <div class="info">
                  <p>Hello <b>Gerald</b></p>
                  <small class="text-muted">Admin</small>
              </div>
              <div class="profile-photo">
                  <img src="/images/profilegero.jpg" alt="">
              </div>
          </div>
      </div>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/public/js/script.js"></script> 
</body>
</html>