<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------- Material CDN  ------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!------------------ css link ----------->
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Parking</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg"> 
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo.jpg" alt="">
                    <h2>DOCK<span class="danger">VILLE</span> </h2>
                </div>
                
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar" >
                <a href="/views/index.html" class="active"><span class="material-icons-sharp">grid_view</span>
                    <h3>Home</h3>
                </a>
                <a href="/views/admin-login.html" ><span class="material-icons-sharp">shield</span>
                    <h3>Adminstrator</h3>
                </a>
                <a href="/views/battery-renting-login.html" ><span class="material-icons-sharp">battery_charging_full</span>
                    <h3>Battery Rent Section</h3>
                </a>
    
                <a href="/views/tire-clinic-login.html" ><span class="material-icons-sharp">build</span>
                    <h3>Car Tire Clinic</h3>
                </a><br><br>
            
                <a href="/views/index.html"><span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
    
        <!----------------------- MAIN SECTION ----------- -->
        <main>
            <h1>Parking Section</h1>
            <!-------------------- INSIGHTS------------- -->

            <div class="insights">
    
            <!------------------ SALES  ------------>
    
                <div class="sales">
                    <span class="material-icons-sharp">aspect_ratio</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Occupied Space<h3>
                            <h1>140</h1>
                        </div>
                        
                        <div class="number">
                            <h2>70%</h2>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
    
                <!------------------ EXPENSES  ------------>
    
                <div class="expenses">
                    <span class="material-icons-sharp">crop_square</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Available Space</h3>
                            <h1>20</h1>
                        </div>
                        <div class="number">
                            <h2>10%</h2>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
    
                <!------------------ INCOME  ------------>
    
                <div class="income">
                    <span class="material-icons-sharp">square</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Reserved Space</h3>
                            <h1>40</h1>
                        </div>
                        <div class="number">
                            <h2>20%</h2>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <!-------------- END OF INSIGHTS  --------------->
            </div>
            <div class="client-info" style="margin-bottom: 90px;">
                <div class="heading">
                    <h2>Customer's inform</h2>
                </div>
        
                <form name="parkingform"  method="POST" action="/api/car">
                    <div class="form-control">
                         <label>Gender:</label><br> 
                        <select id="gender" name="Gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select> 
                    </div>

                    <div class="form-control">
                        <label>Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter Your Name" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
        
                    <div class="form-control">
                        <label>NIN Number</label>
                        <input type="text" name="idnumber" id="ninname" placeholder="Enter NIN Number" autocomplete="off" >
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Telphone</label>
                        <input type="text" name="telphone" id="telphone" placeholder="Enter phone number" autocomplete="on">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Receipt Number</label>
                        <input type="text" name="receiptnumber" id="receipt" placeholder="Enter Receipt Number" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Car Model</label>
                        <input type="text" name="carmodel" id="carmodel" placeholder="Enter Car Model" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Number Plate</label>
                        <input type="text" name="regnumber" id="numberplate" placeholder="Enter Number plate" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Vehicle Type:</label><br> 
                        <select id="type" name="type">  
                            <option value="select">Select</option>
                           <option value="trucks">Trucks</option>
                           <option value="personal">Personal Car</option>
                           <option value="coaster">Coaster</option>
                           <option value="Bodabodas">Bodaboda</option>   
                         </select> 
                   </div>
                   <div class="form-control">
                    <label for="carColor">Car Color:</label>
                    <input type="text" name="carcolor" id="price" placeholder="Enter color" autocomplete="on">
                   </div>
                    <div class="form-control">
                        <label>Price</label>
                        <input type="text" name="price" id="price" placeholder="Enter price" autocomplete="on">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label>Select Date:</label>
                        <input type="date" id="date" name="date" required><br>  
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label for="time">Select Time:</label>
                        <input type="time" id="time" name="time" required><br>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
            
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
            </main>
    
         <!-------------- RIGHT ------- -->
  <div class="right">
    <div class="top">
          <button id="menu-btn">
           <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
              <span class="material-icons-sharp active">light_mode</span>
              <span class="material-icons-sharp ">dark_mode</span>
          </div>
          <div class="profile">
              <div class="info">
                  <p>Hello <b>Gerald</b></p>
                  <small class="text-muted">Admin</small>
              </div>
              <div class="profile-photo">
                  <img src="/images/profilegero.jpg" alt="">
              </div>
          </div>
      </div>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/public/js/script.js"></script>

</body>
</html>