<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
    <!------------- Material CDN  ------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!------------------ css link ----------->
    <link rel="stylesheet" href="/public/css/style.css">
    <title>signup page</title>
</head>
<body> 
         <form action="" class="form" id="form">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" autocomplete="off" placeholder="Choose a username">
                <small></small<>
                 <input type="text" name="" id="username" placeholder="Enter Your First Name" autocomplete="on">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i> 
                 <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Last Name</label>
                <input type="text" name="" id="lastname" placeholder="Enter Your Last Name" autocomplete="on" >
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Email</label>
                <input type="text" name="" id="email" placeholder="Enter Your Email" autocomplete="on">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Telphone</label>
                <input type="text" name="" id="telphone" placeholder="Enter Your phone" autocomplete="on">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Password</label>
                <input type="password" name="" id="password" placeholder="Enter Your Password" autocomplete="off">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Confirm Password</label>
             
                <input type="password" name="" id="cpassword" placeholder="Confirm Password" autocomplete="off">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error Message</small>
            </div>
            <input type="submit" value="Submit" class="btn" id="btn">
            <h3>Already have an account?<a href="/views/index.html">Log in</a></h3>
        </form>

 </main>  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="/public/js/script.js"></script>  
</body>
</html>